{% extends "blog/base.html" %}
{% block content %}
<div class="container">
    <form method="POST" class="col-6 no-padding" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group white-important">
            Do you really want to delete
        </fieldset>
        <p class="bg-steel p-2"
           style="border: 1px solid white; border-radius: 4px; word-wrap: break-word;">
           {{ image.content }}
        </p>
        <img src="{{image.image.url}}" alt="" srcset="" style="height: 400px; width: 400px;">
        <div class="form-group">
            <button class="btn btn-outline-primary" type="submit">Yes</button>
        </div>
    </form>
</div>
{% endblock content %}