{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">


    <div class="content-section">
        <div class="media">
            {% if image.username%}
            <img src="{{image.username.profile.profile_image.url}}" srcset="" class="rounded-circle"
                style="height: 100px; width: 100px;">

            <p style="font-size: 15px;">{{image.username}} <span style="font-size: 10px;"> {{image.username.email}}
                    {%  endif %}
                    {% if image.username.profile.bio%}
                </span> <br> <span> {{image.username.profile.bio}} </span></p>
            {%endif%}
        </div><br><br>

        {%if image.caption %}
        <p> {{image.caption}}</p>
        {%endif%}
        {% if image.image%}
        <img src="{{image.image.url}}" alt="" srcset="" style="height: 400px; width: 400px;">

        {% endif%}


        <a href="{% url 'image-update' image.id %} "></a> <button class="btn btn-sm btn-primary">Update</button>

    </div>



</div>

</article>
<p style="margin-left: 13px;"> Comments </p>

<div class="container">


    {% for comment in comments %}
    <article class="media content-section">
        <div style="width: 100%; word-break: break-all;" class="hovered-tweet-comment-in">
            <div class="pb-2 row m-0" style="width: 100%; margin-right: 0 !important;">
                <div style="padding-left: 0px !important;" class="col-8 no-padding d-flex align-items-center">
                    <img class="rounded-circle mr-2" style="width: 40px; height: 40px;"
                        src="{{ comment.username.profile.profile_image.url }}">

                    <p style="font-size: 10px;">{{ comment.username }} </p><br>
                    <p style="margin-top: 40px;margin-left: -60px;">{{ comment.comments }}</p>

                </div>
            </div>
            <div class="mb-2" style="width: 100%; height: 1px; background-color: rgba(255, 255, 255, 0.1)"></div>
            <a style="color: rgba(255, 255, 255, 0.5) !important;">
                <p>

                </p>

            </a>
        </div>
    </article>
    {% endfor %}
</div>
{% if user is not None %}
<div class="col-12 col-md-6 pl-0 pl-md-3 pr-3">
    <h3 class="white-important mb-3">
        Add a comment
    </h3>
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            {{ form | crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-primary " type="submit">comment</button>
        </div>
    </form>
</div>
{% endif %}
</div>
</div>
{% endblock content %}