{% extends 'blog/base.html'%}
{% load crispy_forms_tags%}
{% block content%}
<div class="container">
  <div class="content-section">
    <div class="media">
      <img src="{{user.profile.profile_image.url}}" srcset="" class="rounded-circle"
        style="height: 120px; width: 120px;">
      <p style="font-size: 20px;">{{user.username}} <br> <span style="font-size: 15px;"> {{user.email}},
          {% if user.profile.phone_number%}
          {{user.profile.phone_number}} </span> <br><br>
        {% endif %}
        {% if user.profile.bio%}
        <span> {{user.profile.bio}} </span></p>
      {%endif%}
    </div>
    <hdr>


      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Profile Update!</legend>
          {{user_form|crispy}}
          {{profile_form|crispy}}
        </fieldset>
        <div class="form-group">
          <button class="btn btn-outline-primary" type="submit">Update</button>
        </div>
      </form>


  </div>
</p>

  {% endblock %}